{% extends "layout.html" %}
{% block content %}
    <div class="container">


    {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-danger">
          {{ messages[0] }}.
      </div>
  {% endif %}
  {% endwith %}
{% for item in data %}
  {% if loop.first %}
  <block class="card block active" data-bs-toggle="collapse" >
  {% else %}
  <block class="card block" data-bs-toggle="collapse" aria-expanded="false">
  {% endif %}


  <div class="card-header">
    <span class="display-6">Order #{{ item.id }} </span>
  </div>


  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h5>Client Email</h5>
      <span >{{ item.client_email }}</span>
      <h5>Order status:</h5>
      <span class="text-muted">{{ item.status }}</span>
    </li>

  {% if item.status == "approved"%}
    <li class="list-group-item">
      <div class="custom-file mt-3 mb-3">
            <form method="post" enctype="multipart/form-data" >
          <input id="fileInput" type="file" name="upload" style="display:none;" />
          <input name="oid" value={{ item.id }} style="display:none;" />
          <input
            type="button"
            class="btn btn-primary btn-block mx-auto"
            value="CHOOSE DELIVERY IMAGE"
            onclick="document.getElementById('fileInput').click();"
          />
            <button class="btn btn-primary btn-block mx-auto" type="submit">Upload</button>
                 </form>
        </div>
    </li>
  {% else %}
      <li class="list-group-item">
      <div class="custom-file mt-3 mb-3">
        </div>
    </li>
  {% endif %}

  </ul>
</block>

{% if not loop.last %}
     <div class="space"></div>
{% endif %}
{% endfor %}


    </div>
{% endblock content %}