{% extends "layout.html" %}
{% block content %}

{% if data|length == 0 %}
<h2 class="display-3 h2 mt-5">Empty Blockchain <span id="nrBlocks"></span></h2>
{% else %}
<h2 class="display-3 h2 mt-5">Blocks on chain: <span id="nrBlocks">{{data|length}}</span></h2>
{% endif %}

<!--- BLOCKCHAIN Validity -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 style="text-align: initial;">Blockchain Validity:
        <img id="validity-img" src="{{url_for('static', filename='valid.png')}}"/>
      </h4>
      <p id="invalidate-comment" style="text-align: initial;"></p>
    </div>
    <div class="col-md-6">
      <button id="invalidate-btn" type="button" class="btn btn-danger float-end">Invalidate Blockchain</button>
    </div>
  </div>
</div>

<!--- BLOCKCHAIN Visualisation -->
{% if data|length > 0 %}
<blockchain class="d-flex align-items-center">
<!-- Block 1-->
{% for item in data %}
  {% if loop.first %}
  <block class="card block active" data-bs-toggle="collapse" href="#Genesis-block" aria-expanded="false" aria-controls="Genesis-block">
  {% else %}
  <block id="block-{{ item._blockId }}" class="card block" data-bs-toggle="collapse" aria-expanded="false">
  {% endif %}
  <div class="card-header">
    <span class="display-5">Block {{ item._blockId }} </span>
    {% if loop.first %}
    <p class="text-success">(Genesis block)</p>
    {% else %}
    <p class="text-success">(Not Genesis block)</p>
    {% endif %}
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h5>Hash</h5>
      <span id="block-{{ item._blockId }}-hash" class="hash">{{ item.getHash() }}</span>
      <h5>Hash of previous block</h5>
      <span class="text-muted">{{ item.getPreviousHash() }}</span>
    </li>

    <li class="list-group-item">
      <h6>Data</h6>
      <span id="block-{{ item._blockId }}-data" class="text-muted">{{ item._data.data }}</span>
    </li>
  </ul>
</block>

{% if not loop.last %}
<chain-link>
  <i class="fas fa-link"></i>
</chain-link>
{% endif %}

{% endfor %}
</blockchain>
{% endif %}

{% endblock content %}