{% extends "layout.html" %}
{% block content %}
    <div class="container">

{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="notification is-danger">
      {{ messages[0] }}.
  </div>
{% endif %}
{% endwith %}
{% for item in data %}
  {% if loop.first %}
  <block class="card block active" data-bs-toggle="collapse" >
  {% else %}
  <block class="card block" data-bs-toggle="collapse" aria-expanded="false">
  {% endif %}

  <div class="card-header">
    <span class="display-6">Order #{{ item.id }} </span>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h5>Client Email</h5>
      <span >{{ item.client_email }}</span>
      <h5>Order status:</h5>
      <span class="text-muted">{{ item.status }}</span>
    </li>

  </ul>
      <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
          {% for key, value in item.products.items() %}
           <tr>
               <td> {{ key }} </td>
               <td> {{ value }} </td>
           </tr>
          {% endfor %}
          </tbody>
        </table>


      {% if item.status == "pending"%}
          <li class="list-group-item">
          <div class="custom-file mt-3 mb-3">
              <form method="post"  enctype="multipart/form-data" >
              <input name="oid" value={{ item.id }} style="display:none;" />
              <button class="btn btn-primary btn-block mx-auto" name='cancel' value='cancel' type="submit">Cancel</button>
                <button class="btn btn-primary btn-block mx-auto" name='approve' value='approve'  type="submit">Approve</button>
              </form>
          </div>
          </li>
      {% else %}
        <li class="list-group-item">
          <div class="custom-file mt-3 mb-3">
          </div>
          </li>
      {% endif %}


</block>

{% if not loop.last %}
     <div class="space"></div>
{% endif %}
{% endfor %}

    </div>
{% endblock content %}