{% extends "layout.html" %}
{% block content %}

<div class="container">
    <button onclick="location.href = 'customer_orders';" class="view_orders" role="button">View Orders</button>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="notification is-danger">
          {{ messages[0] }}.
      </div>
    {% endif %}
    {% endwith %}
    <div id="alerts"></div>
    <div class="space_height"></div>
    <div class="productcont">
        <div class="product">
            <h5 class="productname">Paracetamol</h5>
            <p>Common painkiller used to treat aches and pain</p>
            <p class="price">$5.05</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
            <h5 class="productname">Amlodipine</h5>
            <p>It treats high blood pressure and angina</p>
            <p class="price">$8.50</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
            <h5 class="productname">Metoprolol</h5>
            <p>It treats high blood pressure,heart failure, and following a heart attack.</p>
            <p class="price">$10.50</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
            <h5 class="productname">Albuterol</h5>
            <p>It treats bronchospasm from a variety of lung problems</p>
            <p class="price">$10.50</p>
            <button class="addtocart">Add To Cart</button>
        </div>
    </div>
        <div class="cart-container">
          <h2>Cart</h2>
          <table>
            <thead>
              <tr>
              <th><strong>Product</strong></th>
              <th><strong>Price</strong></th>
            </tr>
            </thead>
            <tbody id="carttable">
            </tbody>
          </table>
          <hr>
          <table id="carttotals">
            <tr>
              <td><strong>Items</strong></td>
              <td><strong>Total</strong></td>
            </tr>
            <tr>
              <td>x <span id="itemsquantity">0</span></td>
             
              <td>$<span id="total">0</span></td>
            </tr></table>

            
          <div class="cart-buttons">  
            <button class='emptyCart' id="emptyCart">Empty Cart</button>
            <button class='submitOrder' id="submitOrder">Submit Order</button>
          </div>
        </div>
</div>

{% endblock content %}